#!/bin/bash

function set_parameters_config(){
    # 这个引号不能有空行，例如 也就是引号后面必须一个变量， 变量最后必须一个引号。
    # 然后各个机器的变量用空行区分
    ALL_MACHINES="$BASE"
}

function set_contig(){
    # 这个设置必须在前面
    set_parameters_config
}