package options

import (
	"{{ .Title }}/internal"
	"{{ .Title }}/internal/conf"
)

const (
	_defaultConfigFile = "conf/conf.yaml"
)

type AppOptions struct {
	ConfFile string
	Config   *conf.Config
}

func NewAppOptions() *AppOptions {
	o := &AppOptions{}
	return o
}

func (o *AppOptions) NewServer() (*internal.Server, error) {
	s := internal.NewServer()
	o.loadConfig(o.ConfFile)
	s.Config = o.Config

	return s, nil
}

func (o *AppOptions) loadConfig(configFile string) {
	if configFile == "" {
		configFile = _defaultConfigFile
	}
	o.Config = conf.New(configFile)
}
