package internal

import (
	"{{ .Title }}/internal/conf"
	"{{ .Title }}/internal/service"
	"{{ .Title }}/pb/helloworld"
	"fmt"
	"log"
	"net"

	"google.golang.org/grpc"
)

type Server struct {
	Config *conf.Config
}

func NewServer() *Server {
	return &Server{}
}

func (s *Server) Run() {
	// 监听本地端口
	listener, err := net.Listen("tcp", ":50051")
	if err != nil {
		log.Fatalf("failed to listen: %v", err)
	}

	// 创建 gRPC 服务器
	grpcServer := grpc.NewServer()

	// 注册服务
	helloworld.RegisterHelloServiceServer(grpcServer, &service.HelloServiceServer{})

	// 启动 gRPC 服务
	fmt.Println("gRPC server listening on :50051")
	if err := grpcServer.Serve(listener); err != nil {
		log.Fatalf("failed to serve: %v", err)
	}
}
