module {{ .Title }}
go 1.16
require (
	github.com/gin-gonic/gin v1.6.3
	github.com/go-sql-driver/mysql v1.4.0
	github.com/jmoiron/sqlx v1.2.0
	github.com/natefinch/lumberjack v2.0.0+incompatible
	github.com/sony/sonyflake v1.0.0
	github.com/spf13/viper v1.7.0
	github.com/urfave/cli/v2 v2.2.0
	go.uber.org/zap v1.15.0
	gopkg.in/natefinch/lumberjack.v2 v2.0.0 // indirect
)