{
  "title": "{{ .Title }}",
  "keywords": "{{ .Extra.Keywords }}",
  "description": "{{ .Extra.Description }}",
  "author":"{{ .Extra.Author }}",
  "language": "zh-hans",
  "links" : {
    "sidebar" : {
        {{ if .Extra.SidebarTitle }}
        "{{ .Extra.SidebarTitle }}" : "{{ .Extra.SidebarLink }}"
        {{end}}
    }
  },
  "styles": {
    "website": "styles/website.css"
  },

  "plugins": [
    {{ range $index, $value := .Extra.Plugins }}{{ if $index }},{{ end }}"{{ $value }}"{{ end }}
  ],
    "hide-element": {
            "elements": [".gitbook-link"]
        },
    "tbfed-pagefooter": {
    "copyright":"Copyright &copy hankbook.cn 2020",
    "modify_label": "该文件修订时间：",
    "modify_format": "YYYY-MM-DD HH:mm:ss"
    },
    "search-pro": {
        "cutWordLib": "nodejieba",
        "defineWord" : ["Gitbook Use"]
    },
    "prism": {
        "css": [
            "prism-themes/themes/prism-ghcolors.css"
        ]
    }
    }