#!/bin/bash
# 检测用户配置的config.ini是否正确

function check_ip(){
    ip_address=$1
    ip_regex='^(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)\.(25[0-5]|2[0-4][0-9]|[01]?[0-9][0-9]?)$'

    if [[ $ip_address =~ $ip_regex ]]; then
        check_error 0 "The $1 is a ip address."
    else
        check_error 1 "The $1 is not a ip address."
    fi
}

function check_config(){
    IFS=$'\n'
    for line in $BASE
    do
        unset IFS
        array=(${line})
        ip_address=${array[0]}
        check_ip $ip_address
    done
    unset IFS
}