package server

import (
	"fmt"
	"time"

	"github.com/gin-gonic/gin"

	"{{ .Title }}/internal/cors"
)

type Server struct {
	Gin *gin.Engine
}

func NewServer() *Server {
	return &Server{}
}

func (s *Server) Run() {
	c := cors.New(cors.Config{
		AllowOrigins:     []string{"*"},
		AllowMethods:     []string{"PUT", "POST", "PATCH"},
		AllowHeaders:     []string{"Origin"},
		ExposeHeaders:    []string{"Content-Length"},
		AllowCredentials: true,
		AllowOriginFunc: func(origin string) bool {
			return origin == "https://github.com"
		},
		MaxAge: 12 * time.Hour,
	})

	s.Gin.Use(c)

	s.SetupRouter()

	err := s.Gin.Run("0.0.0.0:9000")
	if err != nil {
		fmt.Println(err)
	}
}
