package options

import (
	"github.com/gin-gonic/gin"

	"{{ .Title }}/internal/server"
)

type AppOptions struct {
}

func NewAppOptions() *AppOptions {
	o := &AppOptions{}
	return o
}

func (o *AppOptions) NewServer() (*server.Server, error) {
	s := server.NewServer()
	gin.SetMode("debug")
	s.Gin = gin.Default()
	return s, nil
}
