syntax = "proto3";

package helloworld;

// 指定生成的 Go 包路径
option go_package = "./;helloworld";  // "./" 是相对路径，"helloworld" 是 Go 包名

service HelloService {
  // 获取用户信息
  rpc GetHello (DemoRequest) returns (DemoResponse);
}

message DemoRequest {
  int32 id = 1;
}

message DemoResponse {
  string res = 2;
}
