package cmd

import (
	"log"
	"os"
	"path"

	"github.com/spf13/cobra"

	"{{ .Title }}/app"
	"{{ .Title }}/cmd/version"
)

var _configFile string

func _rootCmd() *cobra.Command {

	var command = &cobra.Command{
		Use: "{{ .Title }}",
	}
	command.PersistentFlags().StringVar(&_configFile, "c", "", "Config file path.")

	command.AddCommand(version.VersionCmd())

	return command
}

func Execute() error {
	cobra.OnInitialize(initConfig)
	return _rootCmd().Execute()
}

func initConfig() {
	if _configFile == "" {
		dir := app.GetCurrPath()
		_configFile = path.Join(dir, "../config/config.yaml")
		if _, err := os.Stat(_configFile); os.IsNotExist(err) {
			f, err := os.OpenFile(_configFile, os.O_CREATE|os.O_WRONLY|os.O_TRUNC, 0644)
			if err != nil {
				log.Fatal(err)
			}
			defer f.Close()
		}

	}
	app.NewConfig(_configFile)
    app.NewLogger()
}
