package health

import (
	"{{ .Title }}/internal/config"
	"{{ .Title }}/internal/pkg/database"
	"{{ .Title }}/internal/pkg/response"
)

type Health struct{
	Config *config.Config
	DB     *database.Client
}

func (h *Health) Status() response.Response {
	return response.Success("health")
}
