package service

import (
	"context"
	"{{ .Title }}/pb/helloworld" // 引入生成的 pb 包
	"fmt"
)

// HelloServiceServer 实现了 Hello.HelloServiceServer 接口
type HelloServiceServer struct {
	helloworld.UnimplementedHelloServiceServer
}

// GetHello 获取打印"你好世界"
func (s *HelloServiceServer) GetHello(ctx context.Context, req *helloworld.DemoRequest) (*helloworld.DemoResponse, error) {
	// 简单的模拟数据
	if req.Id == 1 {
		return &helloworld.DemoResponse{
			Res: "hello world",
		}, nil
	}
	return nil, fmt.Errorf("demo not found")
}
