#!/bin/bash
log(){
    echo -e "[debug] `date "+%Y-%m-%d %H:%M:%S"` - $@ "
    # echo `date "+%Y-%m-%d %H:%M:%S"` - $@ >> ${LOG_FILE}
}

log_green(){
    echo -e "\033[32m[info] `date "+%Y-%m-%d %H:%M:%S"` - $@ \033[0m"
}

log_warn(){
    echo -e "\033[33m[warn] `date "+%Y-%m-%d %H:%M:%S"` - $@ \033[0m"
}

log_err(){
    echo -e "\033[31m[error] `date "+%Y-%m-%d %H:%M:%S"` - $@ \033[0m"
}

log_blank(){
    echo -e "\n"
}

function check_error(){
    error=$1
    message=${@:2}
    if [[ $error != 0 ]]
    then
        log_err "$message"
        exit 1
    fi
}

function confirm(){
    echo 
    read -p "请确认是否是当前步骤[Y/N]: " confirm_option
    case $confirm_option in
       N|n|NO|no)
           exit
           ;;
       Y|y|YES|yes)
           return 0
           ;;
    esac
}

