#!/bin/bash

inventory="/tmp/inventory."${SUFFIX}

function gen_inventory_line(){
    if [[ -z $1 ]]
    then
        return
    fi
    unset IFS
    local in_line
    in_line=$1
    array=(${in_line})
    ip_address=${array[0]}
    if [[ -z $ip_address ]]
    then
        return
    fi
    user=${array[1]}
    password=${array[2]}
    port=${array[3]}
    echo ${ip_address}  ansible_user=$user \
                        ansible_ssh_pass=\"$password\" \
                        ansible_become_pass=\"$password\" \
                        ansible_host=${ip_address} \
                        ansible_port=$port >>${inventory}
    # 退出函数的时候，必须带上，不然轮询多行就会报错
    IFS=$'\n'
}

function gen_inventory_info(){
    echo "[all:vars]" >${inventory}
    echo "ansible_connection=ssh" >>${inventory}
    echo "ansible_python_interpreter=/usr/bin/python3" >>${inventory}
    echo "PATH = /usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin:/snap/bin" >>${inventory}

    # 以下是固定格式，最后都需要unset IFS
    echo "[all]" >>${inventory}
    IFS=$'\n'
    for line in ${ALL_MACHINES}
    do
        gen_inventory_line $line
    done
    unset IFS

    echo "[base]" >>${inventory}
    IFS=$'\n'
    for line in ${BASE}
    do
        gen_inventory_line $line
    done
    unset IFS
    
    cp ${inventory}  ${SCRIPT_DIR}/inventory
}