# 简单的grpc-go服务

## 安装

### grpc

安装grpc命令

```bash
package=protoc-29.0-linux-x86_64.zip
wget https://github.com/protocolbuffers/protobuf/releases/download/v29.0/${package}
mkdir protoc
unzip ${package} -d protoc
mv protoc/bin/protoc /usr/local/bin/protoc
```

### 准备好go环境

```bash
go_version=1.23.3
wget https://golang.google.cn/dl/go${go_version}.linux-amd64.tar.gz
tar xf go${go_version}.linux-amd64.tar.gz -C /usr/local
rm -f go${go_version}.linux-amd64.tar.gz

echo export GOPROXY=https://goproxy.cn >> /etc/profile
echo export GO111MODULE=on >> /etc/profile
echo export PATH=\$PATH:/usr/local/go/bin >> /etc/profile
echo export PATH=\$PATH:\$\(go env GOPATH\)/bin >> /etc/profile

go install google.golang.org/protobuf/cmd/protoc-gen-go@v1.31.0
go install google.golang.org/grpc/cmd/protoc-gen-go-grpc@v1.3.0
```

### proto生成golang代码

```
mkdir -p pb/helloworld
protoc --go_out=pb/helloworld --go-grpc_out=pb/helloworld api/helloworld.proto
```